<% content_for :head do %>
  <%= javascript_include_tag '/javascripts/lobby.js' %>
<% end %>

<%= "Player ID: #{@player.id}" %>

challenge <input type="text" name="challenge" id="challenge"></input>
<input type="button" id="join_game_button" value="Join Game"></input>
<div id="game_response"></div></br>


