%form{:action => 'register', :method => 'post'}
  Email:
  %input{:type => 'text', :name => 'email'}
  Name:
  %input{ :type => 'text', :name => 'name'}
  Password:
  %input{ :type => 'text', :name => 'password'}
  Confirm Password
  %input{:type => 'text', :name => 'confirm_password'}
  %input{:type => 'submit', :value=> "Register"}

