- content_for :head do
  = javascript_include_tag '/javascripts/lobby.js'
- if flash[:error]
  #error= flash[:error]
%input#challenge{:type => 'text', :name => 'challenge'} 
  challenge
%input#join_game_button{:type => 'button', :value => 'Join Game'}
#game_response
-if @player.game
  =link_to "Back to game", play_path(:game_name => @player.game.game_type, :game_id => @player.game.id)
#player_list
  %b=@player.name
  #players
  
